* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 100px auto;
    width: 1000px;
}

.checkbox-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 50px;
    height: 50px;
}

.checkbox-btn input[type=checkbox] {
    display: block;
    z-index: -1;

    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-btn span {
    position: absolute;
    z-index: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    color: white;
    background: #ff6c6d;

    cursor: pointer;

    width: 50px;
    height: 50px;
    border-radius: 50px;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    transition: transform 0.5s ease-in-out;
}

.checkbox-btn input[type=checkbox]:checked + span{
    transform: rotate(0.12turn);
}

.checkbox-btn input[type=checkbox]:checked ~ .btn-bg{
    transform: scale(4) rotate(0.12turn);
}

.btn-bg {
    position: absolute;
    z-index: 0;

    width: 50px;
    height: 50px;

    border-radius: 100px;
    background-color: #6982e3;

    transition: transform 0.5s ease-in-out;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.icon-a {
    display: flex;
    align-items: center;
    width: 10px;
    height: 10px;

    position: absolute;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.i1 {
    background: url("img/facebook.png") no-repeat;
    background-size: 10px;
}

.i1:hover {
    background: url("img/facebook-b.png") no-repeat;
    background-size: 10px;
}

.i2 {
    background: url("img/phone.png") no-repeat;
    background-size: 10px;
}

.i2:hover {
    background: url("img/phone-b.png") no-repeat;
    background-size: 10px;
}

.i3 {
    background: url("img/discord.png") no-repeat;
    background-size: 10px;
}

.i3:hover {
    background: url("img/discord-b.png") no-repeat;
    background-size: 10px;
}

.i4 {
    background: url("img/githun.png") no-repeat;
    background-size: 10px;
}

.i4:hover {
    background: url("img/githun-b.png") no-repeat;
    background-size: 10px;
}

.i5 {
    background: url("img/telegram.png") no-repeat;
    background-size: 10px;
}

.i5:hover {
    background: url("img/telegram-b.png") no-repeat;
    background-size: 10px;
}

.i6 {
    background: url("img/whatsup.png") no-repeat;
    background-size: 10px;
}

.i6:hover {
    background: url("img/whatsup-b.png") no-repeat;
    background-size: 10px;
}

.checkbox-btn input[type=checkbox]:checked ~ .i1{
    transform: scale(2.5) rotate(1turn) translate(25px, -15px);
}

.checkbox-btn input[type=checkbox]:checked ~ .i2{
    transform: scale(2.5) rotate(1turn) translate(25px, 15px);
}

.checkbox-btn input[type=checkbox]:checked ~ .i3{
    transform: scale(2.5) rotate(1turn) translate(0px, 30px);
}

.checkbox-btn input[type=checkbox]:checked ~ .i4{
    transform: scale(2.5) rotate(1turn) translate(-25px, 15px);
}

.checkbox-btn input[type=checkbox]:checked ~ .i5{
    transform: scale(2.5) rotate(1turn) translate(-25px, -15px)
}

.checkbox-btn input[type=checkbox]:checked ~ .i6{
    transform: scale(2.5) rotate(1turn) translate(0, -30px);
}